*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:  #6563ff;
}

.head{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: 'Floem';
  font-size: 60px;
  font-weight: bold;
}

.wrapper{
  height: 400px;
  width: 400px;
  padding: 25px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards{
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card{
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  height: calc(100%/4 - 10px);
  width: calc(100% / 4 - 10px);

}

.cards .card .view{
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fff;
  position: absolute;
  border-radius: 7px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s linear;
}

.card .front-view span{
  font-size: 43px;
  font-weight: bolder;
  color: #6563ff;
} 

.card .back-view {
  transform: rotateY(-180deg);
}

.card .back-view img{
  max-width: 45px;
}

.card:hover .back-view{
  transform: rotateY(0deg);
}

.card:hover .front-view{
  transform: rotateY(180deg);
}
 
